body {
    font-family: "Avenir Next";
}

.main {
    padding: 100px 80px;
}

.contens {
    height: 500px;
    margin-top: 100px;
}

.section-title {
    border-bottom: 2px solid #dee7de;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contens-item {
    float: left;
    margin-right: 205px;
}

.contents-item p {
    font-size: 24px;
    margin-top: 30px;
}