
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sans Serif";
  background: #343d46;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


.top-wrapper {
  
  background-size: cover;
  padding: 180px 0 150px 0;
  text-align: center;
  
}
.top-wrapper h1 {
  font-size: 45px;
  color: #fff;
}
.top-wrapper p{
  color: #fff;
  margin-bottom: 5px;
}
.box{
  margin: 100px auto;
  width: 500px;
  height: 100px;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  background: #2b303b;
  font-size: 10pt;
  
}

header{
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  
}
.logo{
  width: 124px;
  padding-top: 20px;
  padding-left: 50px;
}
.header-left{
  float: left;
}
.header-right{
  float: right;
  transition: all 0.5s;
  margin-right: 50px;
}
.header-right:hover{
  background-color: rgba(255, 255, 255, 0.5);
}
.header-right a{
  display: block;
  line-height: 65px;
  padding: 0 25px;
  color: white;
}